.about-us-card {
    display: flex;
    gap: 16px;

    .card-img-div {
        width: 100px;
        height: 100px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .card-title {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        .card-description {
            font-size: 14px;
            font-style: normal;
            line-height: 120%;
        }

    }
}