.actor-card {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    -webkit-box-shadow: 11px 9px 24px -18px rgba(0, 0, 0, 0.29);
    box-shadow: 11px 9px 24px -18px rgba(0, 0, 0, 0.29);
    border: 2px solid #fcfcfc;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in;
    text-wrap: wrap;

    &:hover {

        transform: scale(1.02);

        .actor-image {

            img {
                transform: scale(1.02);
            }

            .actor-details {
                opacity: 1;
            }

        }

    }

    .actor-image {
        border-radius: 12px;
        overflow: hidden;
        height: 280px;
        position: relative;

        .crown{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 28px;
            height: 28px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in;
        }

        .actor-details {
            border-radius: 12px;
            padding: 12px;
            background-color: #B30000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 14px;
            opacity: 0;
            transition: all 0.2s ease-in;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        padding-top: 0;

        .actor-name {
            color: #2D2D2D;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;

        }

        .actor-description {
            color: #7E7E7E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.28px;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }

    .popular-badget {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #ffa31a;
        padding: 6px;
        border-radius: 12px;

        span {
            font-size: 12px;
            color: #fff;
            font-weight: 500;
        }


    }

    .rating-badget {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        background-color: #B30000;
        padding: 6px;
        border-radius: 12px;

        img {
            width: 24px;
            height: 24px;
        }

        span {
            color: #fff;
            font-weight: 600;
            margin-top: 2px;
        }

    }

}