.hero-form {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #E7E9ED;
    background: #FFF;
    box-shadow: 0 4px 6px -2px rgba(51, 51, 51, 0.03);

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 50%;

    .form-header {
        background-color: lightblue;

        .form-title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }

    .form-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: 100%;

        .select-type {
            width: 100%;
            display: flex;
            flex-direction: column;

            .hero-form-label {
                color: var(--neutral-colors-black, #010203);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                display: flex;
                align-items: center;
                gap: 2px;

                span {
                    color: #EB1000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                }

            }

            .selects {
                width: 100%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .form-select {
                    width: 100%;
                }

            }
        }
    }

    .form-footer {
        width: 100%;

        .form-button {
            width: 100%;
        }
    }

}