.actors-swiper {
    padding: 10px 12px 0px;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #cfcfcf;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #111;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

.nav-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #111;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    display: grid;
    place-items: center;

    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);

    svg {
        width: 18px;
        height: 18px;
        stroke: #fff;
        stroke-width: 2.5;
        fill: none;
    }

    &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.nav-next {
    right: -14px;
}

.nav-prev {
    left: -14px;
}

@media (max-width: 1024px) {
    .nav-next {
        right: -10px;
    }

    .nav-prev {
        left: -10px;
    }
}