.hover-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 0;
    overflow: hidden;
    white-space: nowrap;

    padding: 12px;
    border-radius: 6px;
    background: #b30000;
    color: #fff;
    text-decoration: none;

    span{
        font-size: 14px;
    }

    img {
        width: 0;
        height: 16px;
        opacity: 0;
        margin-right: 0;

        transform: translateX(-14px);
        transition:
            width .25s ease,
            margin-right .25s ease,
            opacity .2s ease,
            transform .25s ease;
    }

    &:hover {
        img {
            width: 20px;
            height: 20px;
            margin-left: 8px;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.hover-button-white {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 0;
    overflow: hidden;
    white-space: nowrap;

    padding: 12px;
    border-radius: 6px;
    background: #fff;
    color: #000;
    text-decoration: none;

    span{
        font-size: 14px;
    }

    img {
        width: 0;
        height: 16px;
        opacity: 0;
        margin-right: 0;

        transform: translateX(-14px);
        transition:
            width .25s ease,
            margin-right .25s ease,
            opacity .2s ease,
            transform .25s ease;
    }

    &:hover {
        img {
            width: 24px;
            height: 24px;
            margin-left: 8px;
            opacity: 1;
            transform: translateX(0);
        }
    }
}