@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    text-wrap: nowrap;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    text-wrap: nowrap;
}

select {
    outline: none;
    border: none;

    &:focus {
        border: none;
        box-shadow: none;
        border: none;
    }
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

.section-title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}