// base
@use './base/base';
@use './abstracts/mixins';
@use './abstracts/variables';

// layout
@use './layout/header';
@use './layout/footer';

// components
// (buttons)
@use './components/buttons/hoverButton';
@use './components/buttons/formButton';
// (inputs)
@use './components/inputs/headerSearch';
// (selects)
@use './components/selects/formSelect';
// (cards)
@use './components/cards/heroForm';
@use './components/cards/logoStrip';
@use './components/cards/accordion';

// pages
@use './pages/index';