// base
@use './base/base';
@use './abstracts/mixins';
@use './abstracts/variables';

// layout
@use './layout/header';
@use './layout/footer';

// components
// (cards)
@use './components/cards/heroForm';
@use './components/cards/logoStrip';
@use './components/cards/accordion';
@use './components/cards/aboutUsCard';
@use './components/cards/actorCard';
@use './components/cards/customerReview';
// (swipers)
@use './components/swipers/swiper';

// ui
// (buttons)
@use './ui/buttons/hoverButton';
@use './ui/buttons/formButton';
// (inputs)
@use './ui/inputs/headerSearch';
// (selects)
@use './ui/selects/formSelect';

// pages
@use './pages/index';