.custom-form-select {
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border-bottom: 1px solid #CFCFCF;
}