@use '../abstracts/mixins' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo-div {
        height: 36px;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        span {
            font-size: 18px;
            color: black;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 12px;

        a {
            --dot: 6px;
            --gap: 6px;
            --shift: calc(var(--dot) + var(--gap));

            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 140%;

            position: relative;
            display: inline-flex;
            align-items: center;


            padding: 12px;
            padding-left: calc(12px + var(--shift));

            .circle {
                width: var(--dot);
                height: var(--dot);
                border-radius: 50%;
                background: #b30000;

                position: absolute;
                top: 50%;
                left: 12px;
                transform: translate(var(--shift), -50%);
                opacity: 0;

                transition: transform .35s ease, opacity .2s ease;
            }

            span {
                display: inline-block;
                transform: translateX(calc(var(--shift) * -1));
                transition: transform .35s ease;
            }

            &:hover {
                .circle {
                    transform: translate(0, -50%);
                    opacity: 1;
                }

                span {
                    transform: translateX(0);
                }
            }
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 16px;

        @include mq(tablet-portrait-up) {
            display: none;
        }

        .btn-group {

            .dropdown-toggle {
                padding: 12px;
                display: flex;
                align-items: center;
                gap: 10px;

                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;

                &::after {
                    display: none;
                }

                &:focus {
                    border: none;
                }

                .circle {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #b30000;
                }
            }

        }

    }

    // .header-search-div{
    //     position: absolute;
    //     right: 290px;
    // }

}