@use '../abstracts/mixins' as *;

.homepage-container {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .page-head-image {
        background: url('/assets/images/hero-img.jpg');
    }

    .homepage-our-partners {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .section-title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

    .homepage-about-us {
        padding: 0 50px;
        display: flex;
        gap: 16px;

        .section-intro {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 40%;
        }

        .section-body {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .hover-button {
                margin-top: 16px;
            }
        }
    }

    .prominent-actors {
        display: flex;
        flex-direction: column;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
        }

        .section-body {

            .swiper-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .swiper-container {
                    padding: 24px 24px 40px;
                    padding: 0;
                    position: relative;
                    width: 95%;
                }

            }
        }
    }

    .most-popular-actors {
        display: flex;
        flex-direction: column;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
        }

        .section-body {

            .swiper-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .swiper-container {
                    padding: 24px 24px 40px;
                    padding: 0;
                    position: relative;
                    width: 95%;
                }

            }
        }
    }

    .customer-feedbacks {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 50px;

        @include mq(tablet-portrait-up) {
            gap: 32px;
            padding: 0 0 50px 0;
        }

        .section-body {
            display: flex;
            gap: 100px;
            align-items: flex-start;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                gap: 16px;
            }

            .swipe-buttons {
                display: flex;
                align-items: center;
                gap: 12px;

                .swipe-button {
                    border-radius: 50%;
                    border-radius: 100px;
                    background: #7A1E24;
                    padding: 12px;
                }
            }
        }
    }

    .faq-section {
        padding: 0 50px 100px 50px;
        display: flex;
        gap: 100px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            gap: 24px;
            padding: 0;
        }

        .section-intro {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 40%;

            @include mq(tablet-portrait-up) {
                width: 100%;
                align-items: center;
            }

            .form-button {
                margin-top: 12px;
                width: fit-content;
            }
        }

        .accordion {
            width: 60%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }
        }
    }
}