@use '../abstracts/mixins' as *;

.homepage-container {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .homepage-head {
        padding: 16px 24px;
        background: url('/assets/images/hero-img.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

        .homepage-hero {
            padding: 70px 0px 0px 0px;
            display: flex;
            gap: 100px;

            .hero-intro {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 50%;

                .hero-title {
                    color: #FFF;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    letter-spacing: 1.08px;
                }

                .hero-description {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                    font-style: italic;
                }

                .hero-actions {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 16px;
                }

            }

        }
    }

    .homepage-our-partners {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .section-title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }

    .homepage-about-us {
        padding: 0 50px;
        display: flex;
        gap: 16px;

        .section-intro {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 40%;
        }

        .section-body {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .hover-button {
                margin-top: 16px;
            }
        }
    }

    .prominent-actors {
        display: flex;
        flex-direction: column;

        .section-header {
            text-align: center;
        }

        .section-body {

            .swiper-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .swiper-container {
                    padding: 24px 24px 40px;
                    padding: 0;
                    position: relative;
                    width: 95%;
                }

            }
        }
    }

    .most-popular-actors {
        display: flex;
        flex-direction: column;

        .section-header {
            text-align: center;
        }

        .section-body {

            .swiper-section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;

                .swiper-container {
                    padding: 24px 24px 40px;
                    padding: 0;
                    position: relative;
                    width: 95%;
                }

            }
        }
    }

    .faq-section {
        padding: 0 50px 100px 50px;
        display: flex;
        gap: 100px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            gap: 24px;
            padding: 0;
        }

        .section-intro {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 40%;

            @include mq(tablet-portrait-up) {
                width: 100%;
                align-items: center;
            }

            .form-button {
                margin-top: 12px;
                width: fit-content;
            }
        }

        .accordion {
            width: 60%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }
        }
    }
}