.homepage-container {

    .homepage-head {
        padding: 16px 50px;

        background: url('/assets/images/hero-img.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 550px;
    }
}