.form-button {
    border-radius: 6px;
    background: #b30000;
    padding: 12px;

    span {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        line-height: 140%;
    }
}